.simple_social_links {
	margin: 0;
	padding: 0;
}

.simple_social_links > li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
}

.simple_social_links > li a {
	display: block;
	background-image: url(../images/social-icons-32.png);
	width: 32px;
	height: 32px;
	text-indent: -500px;
	overflow: hidden;
}

.simple_social_links > li.twitter a {
	background-position: 0px 0px;
}

.simple_social_links > li.linkedin a {
	background-position: -24px 0px;
}

.simple_social_links > li.facebook a {
	background-position: -48px 0px;
}

.simple_social_links > li.pinterest a {
	background-position: -72px 0px;
}

.simple_social_links > li.google_plus a {
	background-position: -96px 0px;
}